
.MyInput {
    
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(0, 0, 0);
    
    background: #5d5d5d;
    color: aliceblue;
    border-radius: 10px;
     
}

.MyInput:focus{
    outline: none;
    box-shadow: 0px 0px 8px #ddd;
}
