.Person {
  .person_banner {
    width: 100%;
    max-height: 525px;
    object-fit: cover;
    z-index: -10;
    object-position: center;
  }

  .PersonPage {
    margin: 0 15px;

    .person_container {
      display: flex;
      z-index: 1000;

      .person_basic_container {
        width: 470px;
        margin: 0px 15px;
        display: flex;
        justify-content: center;
        border: 2px solid #a83939;
        border-radius: 20px;

        .person_avatar {
          margin: -70px 0px 0px;
          width: 150px;
          border-radius: 50%;
        }

        .namePerson {
          font-size: 35px;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }

        .exit_button {
          margin-top: 20px;
          margin-bottom: 20px;
          font-family: Arial, Helvetica, sans-serif;
          height: 35px;
          width: 100%;
          background: transparent;
          border: 1px solid #dddddd;
          cursor: pointer;
          border-radius: 10px;
          transition: 0.1s;

          .exit_text {
            color: rgb(255, 255, 255);
            font-size: 18px;
            text-align: center;
            margin-top: 5px;
          }
        }
        .exit_button:hover {
          border: 2px solid #a83939;
        }
      }

      .person_info_container {
        width: 1070px;
        border: 2px solid #a83939;
        border-radius: 20px;
        margin: 16px 15px;

        .button_line {
          display: flex;
          justify-content: start;

          .button {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            border: 1px solid #dddddd;
            border-radius: 10px;
            background: transparent;
            padding: 10px 15px;
            cursor: pointer;
            transition: 0.1s;
          }
          .button:not(:last-child) {
            margin-right: 10px;
          }

          .button:hover {
            border: 1px solid #a83939;
          }
        }
      }

      .person_friends_container {
        width: 280px;
        border: 1px solid #a83939;
        border-radius: 20px;
        margin: 16px 15px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
