.Seach {
  display: flex;

  flex-direction: column;
  margin-top: 14rem;
  align-items: center;
}

.Seach h1 {
  margin-bottom: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Seach_container {
  width: 500px;
}
