.App {
}

ul {
  margin-top: 15px;
  list-style: none;
  text-decoration: none;
  padding: 0px;
}

li {
  display: flex;

  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

input:checked + span {
  text-decoration: line-through;
}

.todo_container {
  max-width: 500px;
  margin: 0 auto;
}
