.App {
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  font-size: 30px;
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}
