.Card {
  margin-top: 30px;
}
.Card_img {
  width: 100%;
  border-radius: 10px;
  height: 270px;
  z-index: 2;
  transition: opacity 0.3s linear;
  object-fit: cover;
}
.Card_block_img {
  position: relative;
  max-width: 100%;
}
.Card_name {
  height: 100%;
  font-family: var(--font);
  cursor: pointer;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Card p {
  font-family: var(--font);
  cursor: pointer;
  font-weight: 300;
}
.Card_block_img:hover .Card_img {
  opacity: 0.6;
}
.text_img {
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 3%;
  font-family: var(--font);
  font-size: 20px;
  z-index: 1;
  transition: opacity 0.3s linear;
}
.Card_block_img:hover .text_img {
  display: block;
  opacity: 1;

  cursor: pointer;
}
@media (max-width: 1000px) {
  .Card_img {
    height: 300px;
  }
}

@media (max-width: 818px) {
  .Card_img {
    height: 330px;
  }
}
