.MyButton {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  padding: 10px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}
