.buttons {
    display: flex;
    justify-content: center;
}

.drop-down-text {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: #444444 1px solid;
    border-radius: 10px;
    min-height: 70px;
}
.drop-down-text p{
    text-align: center;
}